{% extends 'base.html' %}

{% block title %}Add/Edit Feedback{% endblock %}

{% block content %}

<h1>Add/Edit Feedback</h1>

<form id="feedback-form" action="/users/{{ user.username }}/feedback/add" method="POST">
    {{ form.hidden_tag() }}

    {% for field in form
           if field.widget.input_type != 'hidden' %}

    <p>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
      {{ error }}
      {% endfor %}
    </p>

    {% endfor %}

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}