{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<br>
<h1>Login</h1>

<div class="row">
  <div class="col-md-4">
    <form id="login-user-form" method="POST"></form>
    {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
    </form>
  </div>
</div>

<!-- <form id="login-user-form" method="POST">
  {{ form.hidden_tag() }}

  {% for field in form
         if field.widget.input_type != 'hidden' %}

  <p>
    {{ field.label }}
    {{ field }}

    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </p>

  {% endfor %}

  <button type="submit" class="btn btn-primary">Login</button>
</form> -->

{% endblock %}